src/external/.DS_Store
src/.DS_Store
src/lib/.DS_Store
src/lib/*.class
src/main/.DS_Store
src/main/mt22/*/__pycache__/
src/main/mt22/*/.DS_Store
src/main/mt22/*/.antlr/
src/test/__pycache__/
src/test/.DS_Store
